$orange100: #fca400;
$orange200: #ff590d;
$green100: #06d602;
$green200: #d4edda;
$green300: #3e774b;
$purple100: #d369e0;
$blue100: #00c2bf;
$blue200: #2662ff;
$blue300: #0051ff;
$grey100: #fefefe;
$grey200: #fafafa;
$grey300: #dee7ff;
$black100: #0e0e0e;
$black200: #111111;
$red100: #f8d7da;
$red200: #721c24;
