@import './colors';

.fa-html5 {
  color: $orange200;
}

.fa-css3-alt {
  color: $blue300;
}

.fa-js {
  color: $orange100;
}

.fa-node-js {
  color: $green100;
}

.fa-react {
  color: $blue100;
}

.fa-sass {
  color: #d369e0;
}
