@import './breakpoints';
@mixin bg-image($src, $position, $size, $repeat) {
  background-image: $src;
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin xsd {
  @media (min-width: #{$x-small}) {
    @content;
  }
}

@mixin sd {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$medium}) {
    @content;
  }
}
